<a href="https://colab.research.google.com/github/shreya-t-nagappanavar/Data_Analysis_with_Python/blob/main/Data_Analysis_with_Multiple_Column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/sample_data/students - Sheet1.csv')

In [4]:
df = df.head(9)

1) Finding ethnicity by Female

Note: use values to run code properly(to get dictnary)

In [10]:
df = df.values

In [11]:
c = 0
for i in df:
  if(i[4] == 'Hispanic' and i[5] == 'F'):
    c += 1

print(c)

2

In [20]:
df

array([[111111.0, nan, 'Doe', 'Jan-00', 'Hispanic', 'M', 'FT',
        'Fall 2008', nan, nan, nan, nan, nan, nan, nan, nan, 2.71,
        'Albuquerque', 'New Mexico', 87112.0, 'jdoe@example.com', 17.9,
        False, False, True],
       [111112.0, 'Jane', 'Smith', 'May-01', 'Hispanic', 'F', 'TRANSFER',
        'Fall 2006', nan, nan, nan, nan, nan, nan, nan, nan, 3.73,
        'New York', 'New York', 10009.0, 'jsmith@example.com', 18.1,
        False, False, True],
       [111113.0, 'Sarah', 'Thomas', '21/2002', 'Hispanic', 'M', 'FTFT',
        'Fall 2006', 14.0, 6.0, '5', 3.0, nan, nan, nan, nan, 2.64,
        'Pheonix', 'Arizona', 85006.0, 'sthomas@example.com', 17.6,
        False, False, False],
       [111114.0, 'Frank', 'Brown', '13/2002', 'Race/ethnicity unknown',
        'M', 'FTFT', 'Fall 2006', nan, nan, nan, nan, 1450.0, 520.0,
        510.0, 210.0, 3.68, 'Pheonix', 'Arizona', 85015.0,
        'fbrown@example.com', 19.0, True, False, True],
       [111115.0, 'Mike', nan, '31/2001', 'White', 'F', 'FTFT',
        'Fall 2007', 22.0, 12.0, '5', 5.0, nan, nan, nan, nan, 3.46,
        'Seattle', 'Washington', 98106.0, 'mdavis@example.com', 18.2,
        False, True, False],
       [111116.0, 'Jennifer', 'Wilson', 'Jan-02', 'Asian', 'M',
        'TRANSFER', 'Fall 2006', nan, nan, nan, nan, nan, nan, nan, nan,
        4.24, 'Denver', 'Colorado', 80012.0, 'jwilson@example.com', 18.5,
        True, False, True],
       [111117.0, 'Jessica', 'Garcia', 'Jan-00', 'White', 'F', 'FTFT',
        'Fall 2007', 25.0, 10.0, '5', 10.0, nan, nan, nan, nan, nan,
        'Austin', 'Texas', 78703.0, 'jgarcia@example.com', 18.8, False,
        False, False],
       [111118.0, 'Fred', 'Clark', '17/1999', 'Hispanic', 'F', 'FTGRAD',
        'Fall 2010', 21.0, 4.0, '10', 7.0, nan, nan, nan, nan, 2.54,
        'Denver', nan, 80033.0, 'fclark@example.com', 19.2, False, True,
        True],
       [111119.0, 'Bob', 'Lopez', 'Apr-98', 'White', 'F', 'FTFT',
        'Fall 2007', 15.0, 5.0, '5', 5.0, 720.0, 110.0, 400.0, 220.0,
        3.24, 'Denver', 'Colorado', 80122.0, 'blopez@example.com', 18.5,
        False, False, True]], dtype=object)

2) Finding more cgp by acedemic student 2006

In [15]:
c = 0
for i in df:
  if(i[7] == 'Fall 2006' and i[16] >= 2.64):
    c += 1

print(c)

4

3) with fall 2006, more than 2.6 cgpa and city.

In [17]:
c = 0
for i in df:
  if(i[7] == 'Fall 2006' and i[16] >= 2.64 and i[17] == 'New York'):
    c += 1

print(c)

1

# Using pandas

In [23]:
df1 = pd.read_csv("/content/sample_data/students - Sheet1.csv").head(9)

In [24]:
df1

,id,first_name,last_name,date_of_birth,ethnicity,gender,status,entry_academic_period,act_composite,act_math,...,sat_reading,hs_gpa,hs_city,hs_state,hs_zip,email,entry_age,ged,english_2nd_language,first_generation
0,111111.0,NaN,Doe,Jan-00,Hispanic,M,FT,Fall 2008,NaN,NaN,...,NaN,2.71,Albuquerque,New Mexico,87112.0,jdoe@example.com,17.9,False,False,True
1,111112.0,Jane,Smith,May-01,Hispanic,F,TRANSFER,Fall 2006,NaN,NaN,...,NaN,3.73,New York,New York,10009.0,jsmith@example.com,18.1,False,False,True
2,111113.0,Sarah,Thomas,21/2002,Hispanic,M,FTFT,Fall 2006,14.0,6.0,...,NaN,2.64,Pheonix,Arizona,85006.0,sthomas@example.com,17.6,False,False,False
3,111114.0,Frank,Brown,13/2002,Race/ethnicity unknown,M,FTFT,Fall 2006,NaN,NaN,...,210.0,3.68,Pheonix,Arizona,85015.0,fbrown@example.com,19.0,True,False,True
4,111115.0,Mike,NaN,31/2001,White,F,FTFT,Fall 2007,22.0,12.0,...,NaN,3.46,Seattle,Washington,98106.0,mdavis@example.com,18.2,False,True,False
5,111116.0,Jennifer,Wilson,Jan-02,Asian,M,TRANSFER,Fall 2006,NaN,NaN,...,NaN,4.24,Denver,Colorado,80012.0,jwilson@example.com,18.5,True,False,True
6,111117.0,Jessica,Garcia,Jan-00,White,F,FTFT,Fall 2007,25.0,10.0,...,NaN,NaN,Austin,Texas,78703.0,jgarcia@example.com,18.8,False,False,False
7,111118.0,Fred,Clark,17/1999,Hispanic,F,FTGRAD,Fall 2010,21.0,4.0,...,NaN,2.54,Denver,NaN,80033.0,fclark@example.com,19.2,False,True,True
8,111119.0,Bob,Lopez,Apr-98,White,F,FTFT,Fall 2007,15.0,5.0,...,220.0,3.24,Denver,Colorado,80122.0,blopez@example.com,18.5,False,False,True

In [25]:
df = df1

In [27]:
df['hs_city']

0    Albuquerque
1       New York
2        Pheonix
3        Pheonix
4        Seattle
5         Denver
6         Austin
7         Denver
8         Denver
Name: hs_city, dtype: object

In [28]:
df['hs_city'] == 'Pheonix'

0    False
1    False
2     True
3     True
4    False
5    False
6    False
7    False
8    False
Name: hs_city, dtype: bool

In [30]:
df_pr = df[df['hs_city'] == 'Pheonix']

In [31]:
df_pr

,id,first_name,last_name,date_of_birth,ethnicity,gender,status,entry_academic_period,act_composite,act_math,...,sat_reading,hs_gpa,hs_city,hs_state,hs_zip,email,entry_age,ged,english_2nd_language,first_generation
2,111113.0,Sarah,Thomas,21/2002,Hispanic,M,FTFT,Fall 2006,14.0,6.0,...,NaN,2.64,Pheonix,Arizona,85006.0,sthomas@example.com,17.6,False,False,False
3,111114.0,Frank,Brown,13/2002,Race/ethnicity unknown,M,FTFT,Fall 2006,NaN,NaN,...,210.0,3.68,Pheonix,Arizona,85015.0,fbrown@example.com,19.0,True,False,True

In [35]:
df_pr['gender'] == 'M'

2    True
3    True
Name: gender, dtype: bool

In [37]:
df_pr[df_pr['gender'] == 'F']

Empty DataFrame
Columns: [id, first_name, last_name, date_of_birth, ethnicity, gender, status, entry_academic_period, act_composite, act_math, act_english, act_reading, sat_combined, sat_math, sat_verbal, sat_reading, hs_gpa, hs_city, hs_state, hs_zip, email, entry_age, ged, english_2nd_language, first_generation]
Index: []

[0 rows x 25 columns]

In [38]:
df

,id,first_name,last_name,date_of_birth,ethnicity,gender,status,entry_academic_period,act_composite,act_math,...,sat_reading,hs_gpa,hs_city,hs_state,hs_zip,email,entry_age,ged,english_2nd_language,first_generation
0,111111.0,NaN,Doe,Jan-00,Hispanic,M,FT,Fall 2008,NaN,NaN,...,NaN,2.71,Albuquerque,New Mexico,87112.0,jdoe@example.com,17.9,False,False,True
1,111112.0,Jane,Smith,May-01,Hispanic,F,TRANSFER,Fall 2006,NaN,NaN,...,NaN,3.73,New York,New York,10009.0,jsmith@example.com,18.1,False,False,True
2,111113.0,Sarah,Thomas,21/2002,Hispanic,M,FTFT,Fall 2006,14.0,6.0,...,NaN,2.64,Pheonix,Arizona,85006.0,sthomas@example.com,17.6,False,False,False
3,111114.0,Frank,Brown,13/2002,Race/ethnicity unknown,M,FTFT,Fall 2006,NaN,NaN,...,210.0,3.68,Pheonix,Arizona,85015.0,fbrown@example.com,19.0,True,False,True
4,111115.0,Mike,NaN,31/2001,White,F,FTFT,Fall 2007,22.0,12.0,...,NaN,3.46,Seattle,Washington,98106.0,mdavis@example.com,18.2,False,True,False
5,111116.0,Jennifer,Wilson,Jan-02,Asian,M,TRANSFER,Fall 2006,NaN,NaN,...,NaN,4.24,Denver,Colorado,80012.0,jwilson@example.com,18.5,True,False,True
6,111117.0,Jessica,Garcia,Jan-00,White,F,FTFT,Fall 2007,25.0,10.0,...,NaN,NaN,Austin,Texas,78703.0,jgarcia@example.com,18.8,False,False,False
7,111118.0,Fred,Clark,17/1999,Hispanic,F,FTGRAD,Fall 2010,21.0,4.0,...,NaN,2.54,Denver,NaN,80033.0,fclark@example.com,19.2,False,True,True
8,111119.0,Bob,Lopez,Apr-98,White,F,FTFT,Fall 2007,15.0,5.0,...,220.0,3.24,Denver,Colorado,80122.0,blopez@example.com,18.5,False,False,True

get females with city 'Denver'

In [42]:
df_df = df[df['gender'] == 'F'] #df[] == will give us boollean value adding df at begining give us table

In [43]:
df_df

,id,first_name,last_name,date_of_birth,ethnicity,gender,status,entry_academic_period,act_composite,act_math,...,sat_reading,hs_gpa,hs_city,hs_state,hs_zip,email,entry_age,ged,english_2nd_language,first_generation
1,111112.0,Jane,Smith,May-01,Hispanic,F,TRANSFER,Fall 2006,NaN,NaN,...,NaN,3.73,New York,New York,10009.0,jsmith@example.com,18.1,False,False,True
4,111115.0,Mike,NaN,31/2001,White,F,FTFT,Fall 2007,22.0,12.0,...,NaN,3.46,Seattle,Washington,98106.0,mdavis@example.com,18.2,False,True,False
6,111117.0,Jessica,Garcia,Jan-00,White,F,FTFT,Fall 2007,25.0,10.0,...,NaN,NaN,Austin,Texas,78703.0,jgarcia@example.com,18.8,False,False,False
7,111118.0,Fred,Clark,17/1999,Hispanic,F,FTGRAD,Fall 2010,21.0,4.0,...,NaN,2.54,Denver,NaN,80033.0,fclark@example.com,19.2,False,True,True
8,111119.0,Bob,Lopez,Apr-98,White,F,FTFT,Fall 2007,15.0,5.0,...,220.0,3.24,Denver,Colorado,80122.0,blopez@example.com,18.5,False,False,True

In [45]:
df_df[df_df['hs_city'] == 'Denver']

,id,first_name,last_name,date_of_birth,ethnicity,gender,status,entry_academic_period,act_composite,act_math,...,sat_reading,hs_gpa,hs_city,hs_state,hs_zip,email,entry_age,ged,english_2nd_language,first_generation
7,111118.0,Fred,Clark,17/1999,Hispanic,F,FTGRAD,Fall 2010,21.0,4.0,...,NaN,2.54,Denver,NaN,80033.0,fclark@example.com,19.2,False,True,True
8,111119.0,Bob,Lopez,Apr-98,White,F,FTFT,Fall 2007,15.0,5.0,...,220.0,3.24,Denver,Colorado,80122.0,blopez@example.com,18.5,False,False,True