<a href="https://colab.research.google.com/github/shreya-t-nagappanavar/Data_Analysis_with_Python/blob/main/Data_Analysis_Automatic_Categorical_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
data1 = pd.read_csv('/content/sample_data/students - Sheet1.csv')

In [5]:
df = data1.head(9)

In [6]:
df

,id,first_name,last_name,date_of_birth,ethnicity,gender,status,entry_academic_period,exclusion_type,act_composite,...,sat_reading,hs_gpa,hs_city,hs_state,hs_zip,email,entry_age,ged,english_2nd_language,first_generation
0,111111.0,John,Doe,01/2000,Hispanic,M,FT,Fall 2008,NaN,NaN,...,NaN,2.71,Albuquerque,New Mexico,87112.0,jdoe@example.com,17.9,False,False,True
1,111112.0,Jane,Smith,05/2001,Hispanic,F,TRANSFER,Fall 2006,NaN,NaN,...,NaN,3.73,New York,New York,10009.0,jsmith@example.com,18.1,False,False,True
2,111113.0,Sarah,Thomas,21/2002,Hispanic,M,FTFT,Fall 2006,NaN,14.0,...,NaN,2.64,Pheonix,Arizona,85006.0,sthomas@example.com,17.6,False,False,False
3,111114.0,Frank,Brown,13/2002,Race/ethnicity unknown,M,FTFT,Fall 2006,NaN,NaN,...,210.0,3.68,Pheonix,Arizona,85015.0,fbrown@example.com,19.0,True,False,True
4,111115.0,Mike,Davis,31/2001,White,F,FTFT,Fall 2007,NaN,22.0,...,NaN,3.46,Seattle,Washington,98106.0,mdavis@example.com,18.2,False,True,False
5,111116.0,Jennifer,Wilson,01/2002,Asian,M,TRANSFER,Fall 2006,NaN,NaN,...,NaN,4.24,Denver,Colorado,80012.0,jwilson@example.com,18.5,True,False,True
6,111117.0,Jessica,Garcia,01/2000,White,F,FTFT,Fall 2007,NaN,25.0,...,NaN,NaN,Austin,Texas,78703.0,jgarcia@example.com,18.8,False,False,False
7,111118.0,Fred,Clark,17/1999,Hispanic,F,FTGRAD,Fall 2010,NaN,21.0,...,NaN,2.54,Denver,Colorado,80033.0,fclark@example.com,19.2,False,True,True
8,111119.0,Bob,Lopez,04/1998,White,F,FTFT,Fall 2007,NaN,15.0,...,220.0,3.24,Denver,Colorado,80122.0,blopez@example.com,18.5,False,False,True

In [7]:
c = 0
for i in df['hs_city']:
  if(i == 'Pheonix'):
    c += 1
print(c)

2

**1) How to display all city with a count**

In [11]:
for name in df['hs_city'].unique():

  count = 0
  for i in df['hs_city']:
    if(i == name):
      count += 1
  print(name,':',count)
print("Info helped!")

Albuquerque : 1
New York : 1
Pheonix : 2
Seattle : 1
Denver : 3
Austin : 1
Info helped!

**2) Disply in dictornary**

In [12]:

hs_cites = {}

for name in df['hs_city'].unique():

  count = 0
  for i in df['hs_city']:
    if(i == name):
      count += 1
  hs_cites[name] = count

In [13]:
hs_cites

{'Albuquerque': 1,
 'New York': 1,
 'Pheonix': 2,
 'Seattle': 1,
 'Denver': 3,
 'Austin': 1}

In [14]:
hs_cites['New York']

1

**3) How to display all female and male with a count**

In [15]:
Stu_Gender = {}

for name in df['gender'].unique():

  count = 0
  for i in df['gender']:
    if(i == name):
      count += 1
  Stu_Gender[name] = count

In [16]:
Stu_Gender

{'M': 4, 'F': 5}

4) How to display states with a count

In [19]:
Stu_State = {}

for name in df['hs_state'].unique():

  count = 0
  for i in df['hs_state']:
    if(i == name):
      count += 1
  Stu_State[name] = count

In [20]:
Stu_State

{'New Mexico': 1,
 'New York': 1,
 'Arizona': 2,
 'Washington': 1,
 'Colorado': 3,
 'Texas': 1}

In [21]:
df['hs_gpa'].describe()

count    8.000000
mean     3.280000
std      0.609473
min      2.540000
25%      2.692500
50%      3.350000
75%      3.692500
max      4.240000
Name: hs_gpa, dtype: float64