<a href="https://colab.research.google.com/github/shreya-t-nagappanavar/Data_Analysis_with_Python/blob/main/Measure_of_central_tendency.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import statistics

In [ ]:
data = [1,3,4,7,5,8,3,9,3,4,8,5,7,8,8]
data

[1, 3, 4, 7, 5, 8, 3, 9, 3, 4, 8, 5, 7, 8, 8]

**Mean**

In [ ]:
statistics.mean(data)

5.533333333333333

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')
df = df.head(10)

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0

In [7]:
statistics.mean(df['population']) #mean = sum of all number /total number

1161.3

In [8]:
statistics.mean(df['total_rooms'])

2011.1

In [9]:
df.mean()

longitude               -119.86900
latitude                  35.86600
housing_median_age        28.90000
total_rooms             2011.10000
total_bedrooms           389.50000
population              1161.30000
households               369.10000
median_income              3.76298
median_house_value    186290.00000
dtype: float64

**Median** -_ we will get central value

In [10]:
data

[1, 3, 4, 7, 5, 8, 3, 9, 3, 4, 8, 5, 7, 8, 8]

In [11]:
statistics.mean(data)

5.533333333333333

In [14]:
statistics.median(data)

5

In [15]:
statistics.median_grouped(data)

5.25

In [16]:
statistics.median_high(data)

5

In [17]:
statistics.median_low(data)

5

In [18]:
statistics.median(df)

'median_house_value'

In [19]:
df.median()

longitude               -119.615
latitude                  35.905
housing_median_age        27.500
total_rooms             1910.000
total_bedrooms           390.500
population              1095.500
households               359.000
median_income              3.412
median_house_value    171700.000
dtype: float64

**Mode**

mode means value that appears most offen.(or) in a frequency table which has maximum frequency

In [20]:
df.mode()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.84,33.78,19.0,67.0,15.0,49.0,11.0,1.6635,67000.0
1,-122.05,33.82,27.0,1009.0,213.0,604.0,204.0,1.6641,NaN
2,-121.43,34.08,43.0,1018.0,225.0,663.0,218.0,2.3333,NaN
3,-120.65,34.26,NaN,1241.0,244.0,809.0,237.0,2.9375,NaN
4,-119.67,35.48,NaN,1510.0,310.0,850.0,277.0,3.2250,NaN
5,-119.56,36.33,NaN,2310.0,471.0,1341.0,441.0,3.5990,NaN
6,-118.36,36.51,NaN,2402.0,507.0,1446.0,495.0,3.6696,NaN
7,-118.30,37.37,NaN,3080.0,617.0,1484.0,599.0,5.7934,NaN
8,-118.02,38.40,NaN,3589.0,632.0,1537.0,603.0,6.1359,NaN
9,-117.81,38.63,NaN,3885.0,661.0,2830.0,606.0,6.6085,NaN

In [21]:
statistics.mode(data)

8

In [22]:
df.mode()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.84,33.78,19.0,67.0,15.0,49.0,11.0,1.6635,67000.0
1,-122.05,33.82,27.0,1009.0,213.0,604.0,204.0,1.6641,NaN
2,-121.43,34.08,43.0,1018.0,225.0,663.0,218.0,2.3333,NaN
3,-120.65,34.26,NaN,1241.0,244.0,809.0,237.0,2.9375,NaN
4,-119.67,35.48,NaN,1510.0,310.0,850.0,277.0,3.2250,NaN
5,-119.56,36.33,NaN,2310.0,471.0,1341.0,441.0,3.5990,NaN
6,-118.36,36.51,NaN,2402.0,507.0,1446.0,495.0,3.6696,NaN
7,-118.30,37.37,NaN,3080.0,617.0,1484.0,599.0,5.7934,NaN
8,-118.02,38.40,NaN,3589.0,632.0,1537.0,603.0,6.1359,NaN
9,-117.81,38.63,NaN,3885.0,661.0,2830.0,606.0,6.6085,NaN

In [23]:
len(df[df['population'] == 850])

1

In [24]:
len(df[df['population'] == 604.0])

1